$strongPink: #fc668d;
$pastelPink: #fdb2c6;
$blue: #a5ecdd;
$lightBlue: #f0fbf8;
$darkBlue: #0b1631;
$gray: #5e6577;
$purple: #753bbd;
$gold: #ffb549;
$yellow: #ffd700;
$green: #72d54a;

.strongPink {
	background-color: $strongPink;
	fill: $strongPink;
	color: $strongPink;
}
.pastelPink {
	background-color: $pastelPink;
	fill: pastelPink;
	color: $pastelPink;
}
.blue {
	background-color: $blue;
	fill: $blue;
	color: $blue;
}
.lightBlue {
	background-color: $lightBlue;
	fill: $lightBlue;
	color: $lightBlue;
}
.darkBlue {
	background-color: $darkBlue;
	fill: $darkBlue;
	color: $darkBlue;
}
.gray {
	background-color: $gray;
	fill: $gray;
	color: $gray;
}
.purple {
	background-color: $purple;
	fill: $purple;
	color: $purple;
}
.gold {
	background-color: $gold;
	fill: $gold;
	color: $gold;
}
.yellow {
	background-color: $yellow;
	fill: $yellow;
	color: $yellow;
}
.green {
	background-color: $green;
	fill: $green;
	color: $green;
}