<!DOCTYPE html>
<html>
	<head>
		<title>BrenVita - 360 grados</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../../css/main.css">
		<script type="text/javascript" src="../../js/vendor/jquery-3.1.0.min.js"></script>
	</head>
	<body>

		<div container>
			<div cover>
				<h1 class="strongPink">Transformación de 360 grados</h1> <!-- to do: animation -->
				<img src="../../img/intro.jpg" class="fill-height" title="BrenVita - 360 grados">
				<div opener>
					<span class="">Leer más</span> <!-- include shimmer effect -->
					<img src="../../img/svg/arrow-down.svg" alt="arrow down" opener-img>
				</div>
			</div>
			<div content>
				<div class="third" imagefill>
					<img src="../../img/intro-s1.jpg">
				</div>
				<hr>
				<h2>5 días de transformación</h2>
				<p>
					¿Te ha pasado que quieres hacer un cambio en tu vida pero no sabes por dónde comenzar? El inicio siempre es lo más difícil. En BrenVita sabemos que necesitas un apoyo, unas palabras de ánimo, un pequeño empujón que te haga arrancar, una guía que te dé instrucciones, para que poco a poco, puedas trazar tu propio mapa.
				</p>
				<p>
					Aunque al principio parezca difícil, o incluso imposible, si lo intentas llegarás a un punto en el que te darás cuenta, que ya estás en medio de la ruta, y continuarás caminando hasta cruzar la meta y tener la satisfacción que lo conseguiste.
				</p>
				<p>
					El día de hoy te regalamos 5 días de cambio, donde incluiremos información desglosada de recetas, tips, entrenamiento en casa y toda nuestra buena vibra para empezar un estilo de vida saludable.
				</p>
				<p quote>
					Es un <b>RETO</b> contigo mismo, con nadie más.
				</p>
				<p>
					Sé que todo esto no es fácil, pero es cuestión de dar el primer paso. Esto no te dejará donde quieres estar, pero te sacará de donde no perteneces. A veces, no son los kilos los que pesan, sino la mochila llena de frustraciones, obligaciones, estar sometido al qué dirán o ser un actor de reparto en la película de la vida de cada uno. Antes de empezar a tachar alimentos de la lista, elimina lo que te aprieta en tu vida.
				</p>
				<p quote>
					Verás que todo es una reacción en cadena… cuando tu estas bien, todo empieza a estar bien a tu alrededor. ¿Qué dices? ¿Caminamos juntos hacia el bienestar?
				</p>
				<p note>
					<b>Nota:</b> Únicamente son 5 días, ya que basamos las recomendaciones en datos para la población promedio, recuerda que si quieres seguir un plan de alimentación adecuado a ti, a tus gustos y a tus necesidades, siempre puedes acudir con un nutriólogo que te dé un seguimiento personalizado.
				</p>
				<a href="#" button>¡Comienza el reto!</a>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/vendor/imagesloaded.min.js"></script>
		<script type="text/javascript" src="../../js/vendor/imagefill.js"></script>
		<script type="text/javascript" src="../../js/slider.js"></script>

	</body>
</html>